@using System.Threading
@using Klimatogrammen.Models.Domein
@using Klimatogrammen.ViewModels
@model VragenIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Inleidende vragen</h2>

<div id="container"></div>
<div id="legend"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    int count = 0;
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var v in Model.Vragen){
            <div class="form-group">
                @Html.Label(v.VraagTekst, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Antwoorden.Antwoord[count], v.Antwoorden, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Antwoorden.Antwoord[count], "", new {@class = "text-danger"})
                    @if (v.Resultaat == false)
                    {
                        @Html.Label("Dit is niet correct, probeer opnieuw!", new {@class = "text-danger"})
                    }else if (v.Resultaat == true)
                    {
                        @Html.Label("Dit is juist, goed zo!", new {@class="text-success"})
                    }
                </div>
            </div>

            count++;
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (!Model.AllesJuist)
                    {
                    <input type="submit" value="Valideer" class="btn btn-primary" />
                    }
                    else
                    {
                    @Html.ActionLink("Volgende oefening", "Index", "Determinatie", null, new { @class = "btn btn-primary" })
                    }
                @Html.ActionLink("Stoppen", "Index", "Home",null, new{@class = "btn btn-primary"})
            </div>

        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/Custom/ToonKlimatogramBijLoad.js"></script>
}
