@using System.Threading
@using Klimatogrammen.Models.Domein
@using Klimatogrammen.ViewModels
@model VragenIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Inleidende vragen</h2>

<div id="container"></div>
<div id="legend"></div>

@using (Html.BeginForm("Index","OefeningVragen", FormMethod.Post, htmlAttributes:new{@class="form-inline"}))
{
    @Html.AntiForgeryToken()
    int count = 0;
    int aantal = Model.Vragen.Count/2;
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">
            @foreach (var v in Model.Vragen)
            {
                if (count-1 == aantal)
                {
                    @:</div>
                    @:<div class="col-md-6">
                }
               
                <div class="form-group">
               
                    @Html.Label(v.VraagTekst, htmlAttributes: new {@class = "control-label"})
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.Antwoorden.Antwoord[count], v.Antwoorden, htmlAttributes: new {@class = "form-control",@style="width:280px"})
                        @Html.ValidationMessageFor(model => model.Antwoorden.Antwoord[count], "", new {@class = "text-danger"})
                        @if (v.Resultaat == false)
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size:35px;color:#b94a48;vertical-align: -35%;"></span>

                        }
                        else if (v.Resultaat == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size:2em;color:#468847;vertical-align:-35%;"></span>
                        }
                    </div>
                </div>

                count++;
            }
        </div>
        <div class="row"></div>
        <br/>
        <div class="form-group col-md-12">
            <div>
                @if (!Model.AllesJuist)
                    {
                    <input type="submit" value="Valideer" class="btn btn-primary" />
                    }
                    else
                    {
                    @Html.ActionLink("Volgende oefening", "Index", "Determinatie", null, new { @class = "btn btn-primary" })
                    }
                @Html.ActionLink("Stoppen", "Index", "Home",null, new{@class = "btn btn-primary"})
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/Custom/ToonKlimatogramBijLoad.js"></script>
}
