@using System
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klimatogrammen</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css",false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Klimatogrammen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-warning">@TempData["Error"]</div>
        }
        @RenderBody()
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>


    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="navbar navbar-fixed-bottom">
        <footer>
            <div class="container">
                <span style="    color: #333;"><strong>&copy; @DateTime.Now.Year - Projecten II: Programmeren</strong></span>
            </div>
            
        </footer>
    </div>
</body>
</html>
