@using Microsoft.Ajax.Utilities
@model Klimatogrammen.ViewModels.DeterminatieIndexViewModel

@{
    ViewBag.Title = "Determineren";
}

<h2>Determineer klimatogram</h2>

<div>
    <div id="container"></div>
    <hr />
    <div class="determinatietabel" data-url="@Url.Action("GetJSON","Determinatie")"
         data-post-name="GebruikersAntwoord"
         data-post-url="@Url.Action("Index","Determinatie")"
         data-antwoord="@Model.Antwoord"
         data-gebruikerantwoord="@Model.GebruikersAntwoord">


    </div>

    <div>

        @if (Model.Correct) {
            if (Model.PartialViewName.Contains("Graad1")) {
                Html.RenderPartial(Model.PartialViewName, Model.AntwoordVM);
            } else {
                Html.RenderPartial(Model.PartialViewName, Model.VraagVM);
            }
        }
    </div>
</div>
<p>
    @Html.ActionLink("Stoppen", "Index", "Home", null, new { @class = "btn btn-primary" })
</p>
@section scripts {
    <script src="~/Scripts/joint.js"></script>
    <script src="~/Scripts/Custom/determinatieTabel.js"></script>

    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/Custom/ToonKlimatogramBijLoad.js"></script>
<script src="~/Scripts/Custom/vegetatiescript.js"></script>

}
@section css {
    <link rel="stylesheet" href="~/Content/joint.css" />
}
