@using System.Linq
@using Microsoft.Ajax.Utilities
@model Klimatogrammen.ViewModels.DeterminatieIndexViewModel

@{
    ViewBag.Title = "Determineren";
}

<h2>Determineer klimatogram</h2>
<h4>Determineer uw gekozen klimatogram</h4>
<hr />
<div>
    <div id="container"></div>
    <div id="legend"></div>
    <hr />
    @if (Model.Vragen != null && Model.Vragen.Any())
    {
        <div>
            <p >Dit zijn uw juiste antwoorden die u op weg kunnen helpen bij de determinatie:</p>

            @{ int count = 0; }

            @foreach (var vraag in Model.Vragen)
            {
                <div class="col-md-6">
                    <strong>@vraag.VraagTekst: </strong>@Model.Antwoorden[count].Replace("|"," en ")
                </div>
                count++;
            }
        </div>
    }
    <div class="determinatietabel" data-url="@Url.Action("GetJSON","Determinatie")"
         data-post-name="GebruikersAntwoord"
         data-post-url="@Url.Action("Index","Determinatie")"
         data-antwoord="@Model.Antwoord"
         data-gebruikerantwoord="@Model.GebruikersAntwoord">


    </div>

    <div>

        @if (Model.Correct) {
         
            if (Model.PartialViewName.Contains("Graad1")) {
                Html.RenderPartial(Model.PartialViewName, Model.AntwoordVM);
            } else {
                Html.RenderPartial(Model.PartialViewName, Model.VraagVM);
            }
        }
        else {
            <p>
                @Html.ActionLink("Stoppen", "Index", "Home", null, new { @class = "btn btn-primary" })

            </p>
        }
    </div>
</div>

    
@section scripts {
    <script src="~/Scripts/joint.js"></script>
    <script src="~/Scripts/Custom/determinatieTabel.js"></script>

    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/Custom/ToonKlimatogramBijLoad.js"></script>
    @if (Model.Correct) {
        <script src="~/Scripts/Custom/vegetatiescript.js"></script>
    }

}
@section css {
    <link rel="stylesheet" href="~/Content/joint.css" />
}
